<h1>CREATE A NEW POST</h1>
<form action="/post/postcreate" method="POST" enctype="multipart/form-data">
<label for="picName">Title</label>
  <input id="picName" type="text" name="picName" placeholder="My title here">
  <br><br>
  <label for="content">Text</label>
  <input id="content" type="text" name="content" placeholder="My text here">
  <br><br>
  <label for="photo">New Post Image</label>
  <input id="photo" type="file" name="photo">
  <br><br>
  <input type="submit" value="Create Post">

</form>